.large-label {
    font-size: 3em;
    line-height: 1em;
    font-weight: 800;
}

div[role=meter] {
    font-feature-settings: 'zero', 'tnum' 1;
}

svg[role=img] {
    overflow: 'visible';
    margin: 2em;
}

.error-message {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5;
    color: #d5281b;
    display: block;
    margin-bottom: 16px;
}
